<div class="tabla-container">
  <h2 style="text-align: center">Incidentes</h2>
  <table>
    <thead>
    <tr>
      <th>Descripción</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let incidente of incidentes">
      <td>{{ incidente.descripcion }}</td>
      <td>{{ incidente.tipo }}</td>
      <td>{{ incidente.estado }}</td>
      <td>{{ incidente.fecha }}</td>
      <td>
        <button (click)="onDeleteIncidente(incidente.idIncidente)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



