<div class="login-container">  

  
    <!-- Contenedor del formulario -->
    <div class="bubble-login text-center p-4">
      <h2 class="login-title">Inicia Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <input type="text" class="form-control" placeholder="Correo" formControlName="mail" required>
        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
        <button type="submit" class="btn btn-primary">Inicia</button>
      </form>
    </div>
  </div>
  