/* You can add global styles to this file, and also import other style files */

body {
    background: url('assets/mar.png') no-repeat center center/cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
  }
  